
{% extends 'base_template.html' %}
{% block content %}

  <main id="main">

    <section class="blog_header">

      <div style="font-weight: bold;" class="course_dir">
        <a href="/">Home </a> <i>/</i><a href="/blog"> Blog </a>
      </div>
      
      <div class="content">
        
        <div class="blog">
          

          {% for post in blogs %}
         
          <div class="blog_card card">
            <img src="/static/images/blog/{{post[0]['blogImage']}}" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{post[0]['blogTitle']}}</h5>
              <p class="card-text">{{(post[0]['blogDescription']|summary)|safe}}</p>
             <a href="/blog_post/{{post[0]['id']}}" class="btn btn-outline-success btn-sm">Read More</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">By {{post[1]['author']}} - Updated {{post[0]['modified_dt']|duration}}</small>
            </div>
          </div>

           
          {% endfor %}
        </div>
        
         
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}

{% block javascript %}
{% endblock %}