$color_1: #444;
$color_2: #1bb1dc;
$color_3: #0a98c0;
$color_4: #fff;
$color_5: #413e66;
$color_6: #555186;
$color_7: #535074;
$color_8: #696592;
$color_9: #111;
$color_10: #8a87b6;
$color_11: #f8fcff;
$color_12: #999;
$color_13: #6c67a3;
$color_14: #5f5b96;
$color_15: #158caf;
$color_16: black;
$color_17: red;
$color_18: #8582a8;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Montserrat", sans-serif;
$font-family_3: #1bb1dc;
$background-color_1: #fff;
$background-color_2: #ebf1fa;
$background-color_3: #1bb1dc;
$background-color_4: white;
$border-color_1: #1bb1dc;
$border-top-color_1: #eee;

#main{
    margin-top: 100px;
  }
  
.resources{
    margin-top: 100px;
    margin-bottom: 25px;
}

